.container--tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container--tabs .nav-tabs {
    float: left;
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
}

.container--tabs .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.container--tabs .nav-tabs>li>a {
    float: left;
    margin-right: 2px;
    line-height: 1.42857143;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    color: #222;
}

.container--tabs .nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}

.container--tabs .nav-tabs>li.active>a,
.container--tabs .nav-tabs>li.active>a:hover,
.container--tabs .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.container--tabs .tab-content {
    float: left;
    flex: 1;
    display: flex;
}

.container--tabs .tab-content>.tab-pane {
    display: none;
    flex: 1;
    flex-direction: column;
}

.container--tabs .tab-content>.tab-pane.active {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.container--tabs .tab-content>.active {
    display: block;
}